# Smartsheets Configuration
SMARTSHEET_API_TOKEN=your_smartsheet_api_token_here
SMARTSHEET_SHEET_ID=your_smartsheet_sheet_id_here

# SharePoint Configuration
SHAREPOINT_AUTH_MODE=local
SHAREPOINT_SITE_URL=https://wwt.sharepoint.com/sites/fsapowerflowtest
SHAREPOINT_FILE_PATH="/sites/fsapowerflowtest/Shared Documents/AA Sub POC 2026/comments_sample.xlsx"
SHAREPOINT_TENANT=your_tenant_id_or_domain
SHAREPOINT_CLIENT_ID=your_entra_application_client_id
SHAREPOINT_USERNAME=
SHAREPOINT_PASSWORD=